  <div class="well">
  <div class="media">
    <% beer_info = @beer.get_beer_info() %>
    <% if beer_info["labels"] %>
        <%= image_tag(beer_info["labels"]["medium"], :class => "media-object pull-left") %>
        <% else %>
          <%= image_tag("no_image.jpg", :class => "media-object pull-left") %>
    <% end %>

    <div class="media-body">
      <div class="media-heading">
        <h3><%= beer_info["name"] %></h3>
      </div>
      <p>Abv:<%= beer_info["abv"] %>% - Style: <%= beer_info["style"]["name"] %></p>
      <p><%= beer_info["description"] %></p>
      </div>
    </div>
    <p>
    <%= link_to 'Back', beers_path %> | 
    <%= link_to 'Edit', edit_beer_path(@beer)%> | 
    <%= link_to 'Delete', @beer, method: :delete, data: { confirm: 'Are you sure?' }%>
	</p>
  </div>
  </div>


