<p id="notice"><%= notice %></p>

<p>
  <strong>Beer:</strong>
  <%= @beer.beer_id %>
  <% beer_info = @beer.get_beer_info() %>
  <%= beer_info %> 
</p>

<%= link_to 'Edit', edit_beer_path(@beer) %> |
<%= link_to 'Back', beers_path %>
